/* google font load */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


*{margin: 0; padding: 0;}
ol, ul{list-style: none;}
a{text-decoration: none;}
body{font-size: 12px; line-height: 1.6; font-family: arial; color: #555;}


h1{position: fixed; top: 50px; left: 50px; width: 200px; z-index: 50;}
h1 img{width: 100%;}

/* menu style */
#menu{position: fixed; top: 50%; left:0; transform: translateY(-50%); z-index: 50;}

#menu a{display: block; width: 200px; height: 60px; font-family: righteous; font-size: 14px; color: #000; text-align: right;  box-sizing: border-box; border-top: 1px solid #111; opacity: 0.8; transition: all 0.4s;}

#menu li:hover a, #menu li.on a{font-size: 24px; opacity: 1;}


/* concept color with seasons */

#menu li:nth-child(1):hover a, 
#menu li:nth-child(1).on a{color: #d4164c; border-color: #d4164c;}
#menu li:nth-child(2):hover a, 
#menu li:nth-child(2).on a{color: #fff; border-color: #fff;}
#menu li:nth-child(3):hover a, 
#menu li:nth-child(3).on a{color: #ffec6a; border-color: #ffec6a;}
#menu li:nth-child(4):hover a, 
#menu li:nth-child(4).on a{color: #005a89; border-color: #005a89;}

/* sns style */
#sns{position: fixed; top: 40px; right: 50px; font-size: 25px; z-index: 50;}
#sns li{float: left; margin-left: 20px;}
#sns li a{font-size: 25px; color: #111; opacity: 0.5; transition: all 0.4s; display: block;}
#sns li a:hover{transform: scale(1.2); opacity: 1;}

/* main page image style */
section{width: 100%;  position: relative; background-size: cover; background-position: center center; background-attachment: fixed;}
section:nth-child(1){background-image: url(../img/bg1.jpg);}
section:nth-child(2){background-image: url(../img/bg2.jpg);}
section:nth-child(3){background-image: url(../img/bg3.jpg);}
section:nth-child(4){background-image: url(../img/bg4.jpg);}

