@media screen and (min-width:1200px){
  .nav_icon{display:none;}
}

@media screen and (max-width:1400px){
  /* join form page style */
  .join_box{width:60%;}
  .login_box{width:60%;}
}

@media screen and (max-width:1200px){
  header{_top:0;}
  .site_info .boxes .box1{width:50%;}
  .site_info .boxes .box2{width:50%;}
  .site_info .boxes .box3{width:100%;}
  .nav_icon{display:none;}

  .sub_page_title{width:40%;}
  .sub_page_title h2{font-size:30px;}

  .logo_box{width: 40%;}

  .title_box{padding: 50px 0;}
  .title_box .title_txt{border: 0;}
  .txt_contents{width: 100%; float: none; text-align: center;}
  .view_more{width: 100%; float: none; text-align: center; padding: 40px 0 0 0;}

  .detail_section .detail_image{width: 60%; margin: auto; float: none;}
  .detail_section .detail_contents{width: 60%; margin: 30px auto 30px auto;  float: none;}

  .contents_center{max-width: 1200px; width: 100%; height: auto; margin: auto;}
  .gallery_box{box-sizing:border-box; _padding: 0 40px;} 
  .grid-sizer, .gallery_item{width: 25%; _overflow: hidden;}


  .upload_section{padding: 50px 10px 70px 10px; box-sizing: border-box;}

}

@media screen and (max-width:950px){
  /* join form page style */
  .join_box .input_box .col_con:nth-child(1){display:none;}
  .join_box .name_box .col_con:nth-child(1){display:none;}
  .join_box .pass_box .col_con:nth-child(1){display:none;}
  .join_box .email_box .col_con:nth-child(1){display:none;}
  .join_box .pass_check_box .col_con:nth-child(1){display: none;}

  .join_box .input_box .col_con:nth-child(2){width:78%; margin-left:0}
  .join_box .input_box .col_con:nth-child(3){width:20%;}

  .join_box .pass_check_box .col_con:nth-child(2){width:78%; margin-left:0}
  .join_box .pass_check_box .col_con:nth-child(3){width:20%;}

  .join_box .name_box .col_con:nth-child(2){width:100%; margin-left:0;}
  .join_box .pass_box .col_con:nth-child(2){width:100%; margin-left:0;}

  .join_box .email_box .col_con:nth-child(2){margin-left:0;width:35%;}
  .join_box .email_box .col_con:nth-child(3){width:8%;}
  .join_box .email_box .col_con:nth-child(4){width:55%;}

  .sub_img .img_slogan{display: none;}
  

}

@media screen and (max-width:900px){
  .about .company{width:100%;}
  .portfolio .port_con_box .port_con{width:50%;}
  .sub_page_title h2{font-size:25px;}
  .content{width: 50%;}
  
  .grid-sizer, .gallery_item{width: 33.33%;}
  .gallery_contents .gallery_view{width: 33.33%;}
  
}

@media screen and (max-width:800px){
  .sub_img .img_slogan h2{font-size:35px;}
  .sub_img .img_slogan p{font-size:20px;}
  .board_table{width: 80%; padding-top: 0;}
}

@media screen and (max-width:700px){
  .top_line .login_bar a{width:50%;}
  .top_line .login_bar a:nth-child(3){width:100%;}

  header{height: 55px; border-left: 0;}
  header .logo{height: 45px; width: 95px;}
  header .gnb{display: none; position: absolute; top: 100%; width: 100%; z-index: 100; border-left: 0;}

  header .gnb{display:none; position:absolute; top:100%; width: 100%; z-index:100;}
  header .gnb li{float:none; _width:100%; justify-content: center; background:#101010; height:50px;}


  .nav_icon{display:block; width: 22px; height: 22px; margin: 20px 12px 0 0;}
  .nav_icon.on span:nth-child(1){transform: rotate(45deg) translate(1px, 10px);}
  .nav_icon span:nth-child(2){margin: 5px 0;}
  .nav_icon.on span:nth-child(3){transform: rotate(-45deg) translate(1px, -9px);}

  .site_info{padding:30px 0;}
  .site_info .boxes{bottom:0;}
  .site_info .boxes .box1{width:100%;}
  .site_info .boxes .box2{width:100%;}
  .site_info .boxes .box3{width:100%;}
  .portfolio .port_con_box .port_con{width:100%;}

  footer .copy{display:none;}
  footer .sns_box{float:none; margin:auto; width:50%; display:flex; justify-content: center;}

  .sub_img{display:none;}

  .join_box{width:80%;}
  .login_box{width:80%;}

  .detail_section .detail_image{width: 90%; margin: auto; float: none;}
  .detail_section .detail_contents{width: 90%; margin: 30px auto 30px auto;  float: none;}
  .content{width: 100%;}

  .grid-sizer, .gallery_item{width: 50%;}
  .gallery_contents .gallery_view{width: 50%;}


  .upload_left{width: 100%; padding: 0; margin-bottom: 10px;}
  .upload_right{width: 100%; padding: 0;}
  .write_box p :last-child{margin-bottom: 0;}
  .write_box p label{display: none;}
  .write_box p input{width: 100%;}
  .write_box p textarea{height: 180px;}
  .write_btn{text-align: center;}
  .board_table{width: 90%; padding-top: 0;}
  .board_table a{ padding: 8px 20px; font-size: 12px; }
  a.board_btn{ margin-top: 3px;}
}

@media screen and (max-width:600px){
    /* .board_table a{ padding: 8px 8px; font-size: 12px;} */
}

@media screen and (max-width:500px){
    
    /* .board_table a{ padding: 8px 0; font-size: 12px;} */
  .grid-sizer, .gallery_item{width: 100%;}
  .gallery_contents .gallery_view{width: 100%;}


  .upload_category em{font-size: 13px;}
  .upload_title label{font-size: 13px;}
  .upload_category select{padding: 8px;}
 
}

@media screen and (max-width:420px){
  

  .join_box .input_box .col_con:nth-child(2){width:68%; margin-left:0}
  .join_box .input_box .col_con:nth-child(3){width:30%;}
  .join_box .join_btns button{padding:10px 0;}

  .join_box .email_box .col_con:nth-child(2){margin-left:0;width:90%;}
  .join_box .email_box .col_con:nth-child(3){width:8%; margin-bottom:8px;}
  .join_box .email_box .col_con:nth-child(4){width:100%;}


  .detail_section .detail_btns a:nth-child(1){background: #c14000; width: 48%;}
  .detail_section .detail_btns a:nth-child(2){background: #ffa500; margin-left: 4%; width: 48%;}
  .detail_section .detail_btns a:nth-child(3){background: #009988; margin-left: 0; width: 100%; margin-top: 10px;}

  .grid-sizer, .gallery_item{width: 100%;}
  .gallery_contents .gallery_view{width: 100%;}


  .sub_page_title{width: 80%;}
  .upload_title label{font-size: 14px; width: 30%;}
  .upload_category em{font-size: 14px; width: 30%;}
  .upload_title input{width: 69%;}
  .upload_category select{width: 69%; padding: 8px;}


  .board_table .board_list span.num{display: none;}
  .board_table .board_list span.tit{width: 60%; text-align: left;}
  .board_table .board_list .board_title span.tit{text-align: center;}
  .board_table .board_list span.tit b{float: right;}
  .board_table .board_list span.id{width: 40%; font-size: 12px;}
  .board_table .board_list span.hit{display: none;}
  .numbering span.page_number{display: none;}

  .community_btn .search_box{width: 100%; float: none;}
  .community_btn .search_box select{width: 25%;}
  .community_btn .search_box .search_input{width: 54%;}
  a.board_btn{float: none; margin: auto; display: block; width: 100%; padding: 10px 0; text-align: center; margin-top: 10px;}

  .board_table .write_btn a:nth-child(1){margin-left: 0; margin-top: 0;}
}
