*{margin: 0; padding: 0;}

.grid{width: 80%; margin: auto;}

.grid-item {
    float: left;
    height: auto;
    box-sizing: border-box;
    padding: 5px;
  }
  .grid-sizer,.grid-item{width: 20%;}
  .grid-item>img{width: 100%;}

@media screen and (max-width:1000px){
    .grid-sizer, .grid-item{width: 33.33%;}
}

@media screen and (max-width:700px){
    .grid-sizer, .grid-item{width: 50%;}
}
