@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,600;1,200;1,500&display=swap');

p{
    font-size: 25px;
    font-weight: bold;
    _letter-spacing: 10px;
    word-spacing: 30px;
}

/* letter-spacing은 글자 간의 간격을 나타내는
속성이며, word-spacing은 단어 사이의 간격을 나타내는 속성이다.

일반적으로로 글씨 크기를 크게 할 때 발생하는 
디폴트 간격을 조정하는 등 디자인 측면의 이유로 사용된다. */


.transition{
    width: 100px;
    height: 100px;
    background: red;
    _transition:width 1s;
    transition-duration: 1s;
    transition-property: width;
    _transition-delay: 1s;
    _transition-timing-function:ease;
    _transition-timing-function:linear;
    _transition-timing-function:ease-in;
    _transition-timing-function:ease-out;
    _transition-timing-function:ease-in-out;
    transition:all 1s ease;  
}



.transition:hover{
    width: 500px;
    height: 300px;
}

/* transition 속성은 병화하는 대상의 변화 속성과 시간
등을 컨트롤 해주는 속성이다. 변화 하는 요소에 직접 작성해
주는 것이 정석이며, 주로 축약형으로 값을 지정한다.
ex) transition: all 0.5s ease; */

.animation{
    width: 100px;
    height: 100px;
    background: green;
    _animation-name:abc;
    _animation-duration: 1s;
    _animation-fill-mode: forwards;
    _animation-delay: 0.5s;
    _animation-iteration-count: infinite;
    _animation-direction: alternate;
    animation: abc 1s 0.5s infinite;
}

@keyframes abc{

    _from{background: green;}
    _to{background: red;}

    0%{background: green;}
    50%{background: yellow;}
    100%{background: red;}

}

/* animation 속성은 이름을 지정한 후 해당 이름을
@keyframes 속성의 안쪽에 지정한다. 
@keyframes 안쪽에는 에니메이션 시작되는 점과 끝나는 점
등의 스타일을 지정한다.

animation 속성 역시 일반적으로 축약형으로 사용한다. 
*/

.layout{
    width: 16.6%;
    height: 250px;
    float: left;
}

.layout:nth-child(1){background: red;}
.layout:nth-child(2){background: yellow;}
.layout:nth-child(3){background: lime;}
.layout:nth-child(4){background: blue;}
.layout:nth-child(5){background: pink;}
.layout:nth-child(6){background: blueviolet;}


@media screen and (min-width:768px) and (max-width:1200px) {
    .layout{
        width: 33.33%;
    }
}
@media screen and (max-width:767px){
    .layout{
        width: 100%;
    }
}